body{
    overflow: hidden;
    margin:0;
    --size:20;
    --gap:1px;
    --zecolour:#e1e1e1;
    background: white;
}

#game {
    height: 90svh;
    aspect-ratio: 1;
    background: var(--zecolour);
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    gap: var(--gap);
}

#game div{
    background: #1F1F1F;
    aspect-ratio: 1;
    cursor: pointer;
}

#game div.alive{
    background: white;
}

header{
    display: flex;
    height: 8svh;
}

header div{
    cursor: pointer;
    background: palevioletred;
    border-radius: 7px;
    padding: 0.6rem 1.2rem;
    width: fit-content;
    height: fit-content;
    margin: 0.2rem;
}